@inherits LayoutComponentBase

<PageTitle>Игра "Крестики-нолики"</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                    <LoginDisplay />
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="page">
            <main>
                <div class="top-row px-4">
                    <LoginDisplay />
                </div>
            </main>
        </div>
    </NotAuthorized>
</AuthorizeView>

